.furniture-detail__image{
    display: inline-block;
    width: 30%;
    min-height: 400px;
}

.furniture-detail{
    margin: 5px;
}

.furniture-detail__info{
    padding: 50px;
    display: inline-block;
    width: 60%;
    vertical-align: top;
}

.furniture-detail__info__item{
    list-style: none;
}

.furniture-detail__info__item__key{
    display: inline-block;
    width: 50%;
    font-weight: bold;
}

.furniture-actions-wrapper{
    text-align: right;
    margin-top: 30px;
}

.furniture-actions{
    display: inline-block;    
    width: 50%;
    text-align: left;
}

.furniture-actions__buy{
    background: -webkit-linear-gradient(top, #FF85C2, #CC0454);
    border-radius: 10px;
    font-size: 1.5em;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;    
    
 }

.furniture-buy-popup{
    display: none;
    position: absolute;
    height: 400px;
    width: 40%;
    background-color: #FAE8F1;
    z-index: 5;
    left: 30%;
    border: 2px red solid;
    border-radius: 10px;    
}