.furniture-block{
    display: inline-block;
    margin: 5px;
}


.furniture-block__info{
    text-align: center;
    color: black;
    text-decoration: none;
}

.furniture-block__info_name{
    font-weight: bold;
}

.furniture-search__field-wrapper{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;    
}

.furniture-search{
    background-color: rgb(255, 133, 194);
    margin: 0;
    padding: 5px;
}

.furniture-block__info_price{
    font-size: large;
}