.main-menu{
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    margin: 0;
    background-color: #F55695;
    height: 40px;
}

.main-menu__item{
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;    
    vertical-align: text-bottom;
    padding-top: 10px;
}

.main-menu__item_link{
    color: yellow;
    text-decoration: none;
    display: block;
    min-height: 30px;
}

.main-menu__item_selected{
    background-color: #FF85C2;
}

body{
    background-color: #FAE8F1;
}

.content{
    margin: 10px;
    min-height: 600px;
}

.footer{
    text-align: right;
    margin: 10px;
    font-size: small;
    color: grey;
}

.main-menu__item_right{
   #TODO правильные стили
}