{% load staticfiles %}
{% load url from future %}

<!DOCTYPE html>

<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link href="{% static "normalize.css" %}" rel="stylesheet">
    <link href="{% static "styles.css" %}" rel="stylesheet">
    {% block extra_css %}
    {% endblock %}
    <title>
        {% block page_title %}
            Хороший хозяин
        {% endblock %}
    </title>
</head>
<body>
  {% block menu %}
     <ul class="main-menu">
          <li class="main-menu__item">
              <a class="main-menu__item_link" href="{% url 'index' %}">Хороший хозяин</a>
          </li>
          <li class="main-menu__item
          {% url 'furniture_list' as furniture_list_url %}
          {% if request.path == furniture_list_url %}
          main-menu__item_selected
          {% endif %}
          ">
              <a class="main-menu__item_link" href="{{ furniture_list_url }}">Каталог</a>
          </li>
          <li class="main-menu__item
          {% if request.path == '/contacts/' %}
          main-menu__item_selected
          {% endif %}
          ">
              <a class="main-menu__item_link" href="/contacts/">Контакты</a>
          </li>   
          <li class="main-menu__item
          {% if request.path == '/delivery/' %}
          main-menu__item_selected
          {% endif %}
          ">
              <a class="main-menu__item_link" href="/delivery/">Доставка</a>
          </li>   

      </ul>
  {% endblock %}
  {% block sub-menu %}
  {% endblock %}  

    <div class="content">
    {% block content %}
    {% endblock %}
    </div>
    <footer class="footer">
    <p class="">© Melevir, 2012</p>
    </footer>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    {% block extra_js %}
    {% endblock %}

</body>
</html>
