{% extends 'base.html' %}

{% load staticfiles %}
{% load url from future %}

{% block extra_css %}
    <link href="{% static "furniture_detail.css" %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
    <script src="{% static "furniture_detail.js" %}"></script>
{% endblock %}

{% block page_title %}
{{ furniture.furniture_type }} "{{ furniture.name }}"
{% endblock %}

{% block content %}
   <div class="furniture-buy-popup">
        {{ to_buy_block.content|safe }}
   </div>
    <div class="furniture-detail">
       <div class="furniture-detail__image">
           <img src="{{ furniture.main_image.url }}" width="400" height="350">
       </div>
       <div class="furniture-detail__info">
            <div class="furniture-detail__info__item">
                <span class="furniture-detail__info__item__key">
                    Название
                </span>
                <span class="furniture-detail__info__item__value">
                    {{ furniture.furniture_type }} "{{ furniture.name }}"
                </span>
            </div>
            <div class="furniture-detail__info__item">
                <span class="furniture-detail__info__item__key">
                    Размеры
                </span>
                <span class="furniture-detail__info__item__value">
                    {{ furniture.height }}x{{ furniture.width }}x{{ furniture.depth }}
                </span>
            </div>
            <div class="furniture-detail__info__item">
                <span class="furniture-detail__info__item__key">
                    Производитель
                </span>
                <span class="furniture-detail__info__item__value">
                    {{ furniture.supplier }}
                </span>
            </div>
            <div class="furniture-detail__info__item">
                <span class="furniture-detail__info__item__key">
                    Цена
                </span>
                <span class="furniture-detail__info__item__value">
                    {{ furniture.get_price_for_sale }} руб.
                </span>
            </div>
       <div class="furniture-actions-wrapper">
           <div class="furniture-actions">
               <button class="furniture-actions__buy">Купить</button>
           </div>
       </div>
       </div>
   </div>
{% endblock %}
