{% extends 'base.html' %}

{% load staticfiles %}
{% load url from future %}

{% block extra_css %}
    <link href="{% static "furniture_list.css" %}" rel="stylesheet">
{% endblock %}

{% block page_title %}
Каталог
{% endblock %}

{% block sub-menu %}
<div class="furniture-search">
   <form method="POST">
     {% csrf_token %}
     {% for field in form.visible_fields %}
     <div class="furniture-search__field-wrapper">
          {{ field.label_tag }}: {{ field }}
     </div>
     {% endfor %}
     <div class="furniture-search__field-wrapper">     
          <input type="submit" value="Найти"/>
     </div>
   </form>
</div>
{% endblock %}  

{% block content %}
{% if not furniture_list %}
   <div class="furniture__nothing-found">
        К сожалению, по вашему запросу ничего не найдено.
   </div>
{% endif %}
{% for furniture in furniture_list %}
    <div class="furniture-block">
      <a href="{% url 'furniture_detail' furniture.pk %}">
         <img src="{{ furniture.main_image.url }}" height="270" width="250">
      </a>
         <div class="furniture-block__info">
              <div class="furniture-block__info_name">
                   {{furniture.furniture_type }} "{{ furniture.name }}"
              </div>
              <div class="furniture-block__info_size">
                   {{furniture.height }}x{{furniture.width }}x{{furniture.depth }}
              </div>
              <div class="furniture-block__info_supplier">
                   {{ furniture.supplier }}
              </div>
              <div class="furniture-block__info_price">
                   {{ furniture.get_price_for_sale }} руб.
              </div>
         </div>
    </div>
{% endfor %}
{% endblock %}
